pyhocon
opencv-python
dotmap
tensorboard
imageio
imageio-ffmpeg
ipdb
PyQt5
pretrainedmodels
lpips
torch-tb-profiler
matplotlib
kornia
open3d
scipy
click
torchmetrics
torchinfo
numpy
seaborn
pandas
scipy
scikit-image
tqdm
